# Gradle / builds
.gradle/
**/build/
.externalNativeBuild/
**/.cxx/

# Android Studio
.idea/
*.iml
captures/

# Local config & keys
local.properties
keystore.properties
*.jks
*.keystore

# Outputs
*.apk
*.aab
*.log

# OS junk
.DS_Store
Thumbs.db
